* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.terminals {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex: 1;
}

.terminal {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    background-color: grey;
}

#bottom {
    display: flex;
    flex-direction: row;
}